@section scripts{
    <script type="text/javascript">
        var logoUrl = '@srShared.SharedAcross.DB.SiteUrl';
    </script>
}
<img src="" id="iLogo" alt="Logo" />
<div></div>
Here Logo Comes after designed..