@model srEntity._Model.User
<fieldset>
    <div>
        <div id="iPhoto" class="fa fa-user  middle fa-site"></div>
        <span id="sWelcome" class="small"> Welcome!</span>
        <span class="small">@Model.UserTypeName</span>
    </div>
    <div class="padding-top">
        @Model.Email
    </div>
    <div class="padding-top">
        @Model.Fname
        <div id="iBadge" class="fa fa-space-shuttle  middle fa-site" />
    </div>
</fieldset>

